.homepage {
  background-image: linear-gradient(#010336, #101049);
  color: $white;
  min-height: 100vh;

  .homepage-logo-wrapper {
    margin-top: 6px;
  }

  .get-started-btn {
    transition: 1.5s;
    margin: 18px;
    font-size: 16px;
    background: $lblue;
    border-radius: 34px;
    border: none;
    height: min-content;
    padding: 12px 54px;
    color: $white;
    cursor: pointer;
    background-image: linear-gradient(90deg, #5034ff 25.69%, #b4b4ff 100%);

    span {
      font-size: 12px;
      display: inline-block;
      transform: translateX(7px);
    }

    &:hover {
      background-image: linear-gradient(90deg, #432cd5 25.69%, #9797d5 100%);

      span {
        transform: translateX(8px);
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }

  .homepage-header {
    background: $headerBackgroundColor;
    color: $lblack;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    box-sizing: border-box;
    padding: 0 24px;

    @include small {
      padding: 0 36px;
    }

    @include medium {
      padding: 0 40px;
    }

    @include large {
      padding: 0 120px;
    }

    .logo {
      cursor: default;

      .yom {
        color: $mred;
      }

      .ris {
        color: $myellow;
      }

      .hon {
        color: $mgreen;
      }
    }

    .get-started-btn {
      display: none;
      margin: 18px 0 18px 18px;

      @include medium {
        display: inline-block;
        background: $lblue;
        font-size: 14px;
        padding: 12px 22px;

        &:hover {
          background: #5a5ad5;
        }
      }
    }

    .login-btn {
      background: transparent;
      border-radius: 10px;
      border: none;
      height: min-content;
      padding: 10px;
      color: $homePageHeaderText;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background: #f0f3ff;
        color: $lblue;
      }

      &:active {
        color: $white;
        transform: scale(0.95);
      }
    }
  }

  .shooting-stars {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    min-height: 92vh;

    .star {
      opacity: 0;
      position: absolute;
      width: 4px;
      height: 4px;
      background-color: $white;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
        0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1);
      animation: shooting-star 2s linear infinite;

      &:nth-child(1) {
        top: 0;
        right: 0;
        animation-delay: 0;
        animation-duration: 1s;
      }

      &:nth-child(2) {
        top: 0;
        right: 80px;
        left: initial;
        animation-delay: 0.2s;
        animation-duration: 3s;
      }

      &:nth-child(3) {
        top: 80px;
        right: 0;
        left: initial;
        animation-delay: 0.4s;
        animation-duration: 2s;
      }

      &:nth-child(4) {
        top: 0;
        right: 180px;
        left: initial;
        animation-delay: 0.6s;
        animation-duration: 1.5s;
      }

      &:nth-child(5) {
        top: 0;
        right: 400px;
        left: initial;
        animation-delay: 0.8s;
        animation-duration: 2.5s;
      }

      &:nth-child(6) {
        top: 0;
        right: 600px;
        left: initial;
        animation-delay: 1s;
        animation-duration: 3s;
      }

      &:nth-child(7) {
        top: 300px;
        right: 0;
        left: initial;
        animation-delay: 1.2s;
        animation-duration: 1.7s;
      }

      &:nth-child(7) {
        top: 150px;
        right: 0;
        left: initial;
        animation-delay: 1.8s;
        animation-duration: 1.2s;
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 300px;
        height: 1px;
        background: linear-gradient(90deg, #fff, transparent);
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 100%;
    min-height: 60vh;

    .hero {
      bottom: 220px;
      text-align: center;

      h1 {
        font-size: 48px;
        padding: 12px;
        animation-name: fade-in;
        animation-fill-mode: both;
        animation-duration: 1s;
        animation-delay: 0.2s;
        cursor: default;

        @include small {
          font-size: 52px;
          padding: 0 100px;
        }

        @include medium {
          font-size: 68px;
          padding: 0 100px;
        }

        @include large {
          font-size: 72px;
          padding: 0 120px;
        }
      }

      h3 {
        font-weight: 200;
        font-size: 24px;
        padding: 16px;
        animation-name: fade-in;
        animation-fill-mode: both;
        animation-duration: 1s;
        animation-delay: 0.5s;
        cursor: default;
      }

      .hero-btn-wrapper {
        height: 30px;
        animation-name: fade-in;
        animation-fill-mode: both;
        animation-duration: 1s;
        animation-delay: 0.8s;

        .get-started-btn {
          padding: 15px 114px;

          @include medium {
            padding: 15px 40px;
          }

          span {
            animation-name: move-right;
            animation-duration: 1.6s;
            animation-delay: 2s;
          }

          &:hover {
            span {
              transform: translateX(12px);
            }
          }
        }
      }

      p {
        font-size: 12px;
        font-weight: normal;
        margin-top: 10px;
        animation-name: fade-in;
        animation-fill-mode: both;
        animation-duration: 1s;
        animation-delay: 1.1s;
        cursor: default;

        @include small {
          font-size: 12px;
        }

        @include medium {
          font-size: 14px;
        }
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shooting-star {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }

  100% {
    transform: rotate(315deg) translateX(-700px);
    opacity: 0;
  }
}

@keyframes move-right {
  0% {
    transform: translateX(7px);
  }

  85% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(7px);
  }
<<<<<<< HEAD
}

.logout-link {
  color: #0fa2e2;
  cursor: pointer;
=======
>>>>>>> 295aaa47460e9d3b04dd0d556118faca6c0aa9df
}