.login-page {
  background: $white;
  min-height: 100vh;

  .login-header {
    background: $headerBackgroundColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    box-sizing: border-box;
    padding: 0 24px;

    .login-logo-wrapper {
      margin-top: 6px;

      .logo {
        cursor: default;
      }
    }

    .home-btn-warpper {
      position: relative;
      width: 46px;
      height: 46px;

      &:hover {
        background: #f0f3ff;
        color: $lblue;
      }

      .home-btn {
        cursor: pointer;
        color: $homePageHeaderText;
        font-size: 24px;
        background: transparent;
        border: none;
        position: absolute;
        top: 10px;
        left: 6px;
      }
    }

    @include small {
      padding: 0 36px;
    }
    @include medium {
      padding: 0 40px;
    }
    @include large {
      padding: 0 120px;
    }
  }

  .login-main {
    color: $homePageHeaderText;
    margin-top: 80px;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 42px;
      font-weight: 100;
      text-align: center;
      margin-bottom: 22px;
    }
    h3 {
      color: $black;
      font-size: 16px;
      text-align: center;
      margin-bottom: 10px;
    }

    form {
      width: 70%;
      margin-bottom: 40px;

      .form-warpper {
        display: flex;
        flex-direction: column;

        input {
          margin-bottom: 20px;
          height: 22px;
          padding: 10px;
          border-radius: 5px;
          border: 1px solid #aaaab2;

          &::placeholder {
            color: #aaaab2;
            font-size: 16px;
          }

          &:focus {
            border: 1px solid #0061b9;
          }
        }

        .submit-btn-warpper {
          width: 100%;

          .submit-btn {
            cursor: pointer;
            width: 100%;
            height: 100%;
            padding: 10px;
            border-radius: 5px;
            background: $headerAddtAsk;
            border: none;
            font-size: 20px;
            color: $white;

            &:hover {
              background: #0061b9;
            }
          }
        }
      }
    }
    .line-modal-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      height: 300px;
      align-content: center;
      margin: 0;

      .straight-line {
        background: #aaaab2;
        height: 2px;
        width: 90%;
        align-self: center;
      }

      p {
        text-align: center;
        background: $white;
        z-index: 3;
        width: fit-content;
        position: absolute;
        left: 210px;
        bottom: 18px;
        padding: 0px 10px 0px 10px;
      }
    }
    .google-signin-btn-warpper {
      background: red;
      .google-signin-btn {
        cursor: pointer;
        background: transparent;
        border: 1px $homePageHeaderText solid;
        margin-bottom: 24px;
      }
    }

    .register-link-container{
        a{
            color: #0fa2e2;;
        }
    }
  }
}
