// Setup
@import "setup/variables";
@import "setup/functions";
// @import "setup/mixins";
@import "setup/typography";

// Basics
@import "basics/helpers";
@import "basics/base";

// Pages
@import "pages/home";
@import "pages/board";

// Components
@import "cmps/sidebar";
@import "cmps/boards-modal";
@import "cmps/boards-modal-header";
@import "cmps/boards-list";