// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/animations";

// @import "setup/mixins";
@import "setup/typography";
@import "setup/breakpoints";

// Basics
@import "basics/helpers";
@import "basics/base";

// Pages
@import "pages/home";
@import "pages/board";
@import "pages/login";
@import "pages/signup";
@import "pages/user-profile";

// Components
@import "cmps/main-sidebar";
@import "cmps/workspace-sidebar";
@import "cmps/boards-modal-closed";
@import "cmps/workspace-sidebar-header";
@import "cmps/boards-list";
@import "cmps/board-header";
@import "cmps/tool-bar";
@import "cmps/board-content";
@import "cmps/group-preview";
@import "cmps/group-header";
@import "cmps/group-modal";
@import "cmps/group-footer";
@import "cmps/task-preview";
@import "cmps/task-modal";
@import "cmps/task-title";
@import "cmps/task-activites";
@import "cmps/task-details";
@import "cmps/add-task";
@import "cmps/board-notifications";
@import "cmps/loader";

// Trello
@import "cmps/trello-content";
@import "cmps/trello-group-preview";
@import "cmps/trello-group-header";
@import "cmps/trello-task-preview";
@import "cmps/trello-new-task";
