// Setup
@import "setup/variables";
@import "setup/variables2";
@import "setup/functions";
@import "setup/animations";
// @import "setup/mixins";
@import "setup/typography";
@import "setup/breakpoints";

// Basics
@import "basics/helpers";
@import "basics/base";

// Pages
@import "pages/home";
@import "pages/board";
@import "pages/login";

// Components
@import "cmps/sidebar";
@import "cmps/boards-modal";
@import "cmps/boards-modal-closed";
@import "cmps/boards-modal-header";
@import "cmps/boards-list";
@import "cmps/board-header";
@import "cmps/tool-bar";
@import "cmps/board-content";
@import "cmps/group-preview";
@import "cmps/group-header";
@import "cmps/group-modal";
@import "cmps/group-footer";
@import "cmps/task-preview";
@import "cmps/task-modal";
@import "cmps/task-title";
@import "cmps/task-activites";
@import "cmps/task-details";
@import "cmps/add-task";
@import "cmps/board-notifications";
