* {
 margin: 0;
 transition: 0.2s;
}

html {
 font-family: roboto;
}

body {
 background-color: $white;
 min-height: 100vh;
 margin: 0;
 box-sizing: border-box;
}

#root {
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
 font-family: rubik;
 margin: 0;
}

img {
 width: 100%;
}

p {
 margin: 0;
}

a {
 text-decoration: none;
}