// Monday Colors:
$mred: #ff3d57;
$mgreen: #00d647;
$myellow: #ffcb00;
// Sidebar
$sgrey: #fdfdfd;
$sgreyh: #10131e;
$white: #fff;
$black: #000;
$lblack: #333333;
$deepblue: #030437;
$lblue: #6c6bff;
$greyboard: #EDEFF5;

// Header:
$headerBlack: #323338;
$headerDarkGrey: #676879;
$headerAddtAsk: #0085ff;
$headerAddtAskHover: #0071d9;
$homePageHeaderText: #535768;

// tasks
$linebg: #F5F6F8;