// Monday Colors:
$mred: #ff3d57;
$mgreen: #00d647;
$myellow: #ffcb00;
// Sidebar
$sgrey: #fdfdfd;
$sgreyh: #10131e;
$white: #fff;
$black: #000;
$lblack: #333333;
$deepblue: #030437;
$lblue: #6c6bff;
$greyboard: #EDEFF5;

// Header:
$headerBlack: #323338;
$headerDarkGrey: #676879;
$headerBorder:#d0d4e4;
$headerAddtAsk: #0073EA;
$headerAddtAskHover: #0060b9;
$homePageHeaderText: #535768;
$headerBackgroundColor: #f7f7f7;

//Login-signup:
$lightGray: #f6f7fb;

// tasks
$linebg: #F5F6F8;
$mainGreyFontColor: #676879;

// modals
$modalBlue: #181b34;
$modalTxtBlack: #0a0b15;
$modalBtnTxt: #777;
$taskModalText: #d5d8df;
$notifications:#323338;

$NotificationsnavBar: #dcdfec;
$NotificationsnavBarActiv: #0085ff;
$NotificationsnavItem:#1f76c2;

//user-profile:
$userProfileMain:#0085ff;

// Layout Breakpoints

$break-narrow: 720px;