.boards-modal-header {
 margin: 12px 16px;
 border-bottom: 2px solid $greyboard;
 position: relative;
 .boards-modal-closed-btn {
  position: absolute;
  right: -32px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  background-color: #fff;
  color: #323338;
  border: 1px solid #d0d4e4;
  border-radius: 1.25rem;
 }
 p {
  font-size: 14px;
  margin-bottom: 10px;
  cursor: default;
  color: #4D525A;
 }
 .workspace-btn {
  padding: 8px 6px;
  border: 1px solid #676879;
  border-radius: 0.25rem;
  font-weight: bold;
  margin-bottom: 18px;
  cursor: default;
  color: $lblack;
  position: relative;
  span {
   background: rgb(242, 121, 242);
   color: $white;
   padding: 3px 5px;
   margin-right: 6px;
   border-radius: 0.5rem;
  }
  > *:last-child {
   font-size: 12px;
   background: #F6F7FB;
   color: $black;
   padding: 0;
   margin-right: none;
   border-radius: none;
   position: absolute;
   left: 23px;
   top: 20px;
  }
 }
 .boards-modal-btns {
  color: $lblack;
  div {
   justify-content: start;
   align-items: center;
   text-align: center;
   font-size: 20px;
   cursor: pointer;
   padding: 6px 6px;
   border-radius: 0.25rem;
   &:hover {
    background: #DCDFEC;
   }
   span {
    margin-left: 8px;
    font-size: 14px;
   }
  }
  > *:last-child {
   cursor: text;
  }
 }
 > *:last-child {
  margin-bottom: 18px;
 }
}