.board-notifications-main{
    background-color: white;
    position: fixed;
    z-index: 10;
    width: 631px;
    height: 100vh;
}
.board-notifications-header {
    width: 605px;
    height: 117px;
    padding: 16px;
    flex-direction: column;
    justify-content: space-between;
    .board-notifications-title-container{
        font-size: 24px;
        font-weight: bold;
        width: 573px;
        height: 36px;
        color: #323338;
    }
    .board-notifications-header-navbar{
        width:573px;
        height: 32px;
        
        border-bottom: 2px solid $NotificationsnavBar;
        justify-content: initial;
        position: relative;
        .board-notifications-header-navbar-item{
            height: calc(100% - 1px);
            align-items: center;
            justify-content: center;
            padding: 0 16px;
            font-size: 14px;
            margin-bottom: 1px;
            border-radius: 4px;
            cursor: pointer;
            &:hover{background-color: $NotificationsnavBar;}
            &::before{
                content: "" ;
                height: 1px;
                background-color: rgb(213, 81, 10);
                position: absolute;
                bottom: -2px;
            }
        }
    }
    .board-notifications-header-buttons{
        position: absolute;
        left: 85%;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        font-size: 20px;
        & > *:hover{
            border-radius: 4px;
            background-color: #dcdfec;
            cursor: pointer;
        }
        & > *{
            border-radius: 4px;
            padding: 4px;
            justify-content: center;
            align-items: center;
        }
        .menu-button{
            border-right: #e6e9ef solid 1px;
            padding-right: 12px;
            padding-left: 12px;
            margin-right: 6px;
            right: 38px;
        }
    }
    
}