.boards-modal {
 min-width: 254px;
 background: #F6F7FB;
 border-right: 2px solid $greyboard;
 position: relative;
 .boards-modal-arrow {
  position: absolute;
  left: -12px;
  top: 80px;
  font-size: 18px;
  color: $greyboard;
 }
}