.board-notifications-main{
    background-color: aqua;
    position: fixed;
    z-index: 10;
    width: 631px;
    height: 100vh;
}
.board-notifications-header {
    width: 100%;
    padding: 16px;
    flex-direction: column;
    .board-notifications-title-container{
        font-size: 24px;
        font-weight: bold;
        width: 573px;
        height: 36px;
        color: #323338;
    }
    .board-notifications-header-navbar{
        width:573px;
        height: 32px;
        background-color: yellow;
    }
}