.board-header-main-container{
    margin: 30px 30px 0px 30px;
    flex-direction:column;
    justify-content: space-between;
    color:$headerBlack;
}

.board-header-top{
    justify-content: space-between;
    align-items: center; 
    .board-header-top-icon{
        font-size: 30px;
        padding-top: 5px;
        margin-left: 5px;
    }
}

.board-header-top-main{
    gap: 5px;
    .board-header-top-main-members{
        gap: 5px;
        align-items: center;
        padding-left: 12px;
    }
    img{
        height: 25px;
        width: 25px;
    }
}

.board-header-bottom{
    border-bottom: 0.5px solid darkgray;
}

.board-header-bottom-upper{
    height: 32px;
    &:hover {
        background-color: #dcdfec;;
    }
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    border-radius: 4px;
}

.header-button-container{
    // width: 89px;
    height: 32px;
    &:hover {
        background-color: #dcdfec;;
    }
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    border-radius: 4px;
    padding-right: 12px;

}


