.board-header-main-container{
    padding: 30px 30px 0px 30px;
    margin: 0;
    // height: 178px;
    width: 900px;
    background-color: rgba(127, 255, 212, 0.356);
    flex-direction:column;
    justify-content: space-between;
}

.board-header-top{
    justify-content: space-between; 
    .board-header-top-icon{
        font-size: 30px;
        padding-top: 5px;
        margin-left: 5px;
    }
}

.board-header-top-main{
    .board-header-top-main-members{
        gap: 5px;
        align-items: center;
    }
    img{
        height: 25px;
        width: 25px;
    }
}

.board-header-bottom{
    border-bottom: 0.5px solid darkgray;
}

.board-header-bottom-upper{
    height: 32px;
    &:hover {
        background-color: #dcdfec;;
    }
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    border-radius: 4px;
    padding-right: 12px;

}


