.group-modal {
 .group-modal-btn {
  width: 16px;
  height: 16px;
  border-radius: 1rem;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  cursor: pointer;
  transition: none;
  svg {
   font-size: 12px;
   transition: none;
  }
  &:hover {
  border: 1px solid #ccc;
  }
 }
 .group-modal-toggle {
  position: absolute;
  flex-direction: column;
  left: 0;
  top: 22px;
  width: 248px;
  padding: 8px;
  z-index: 999;
  background: #fff;
  border: 1px solid #e6e9ef;
  border-radius: 10px;
  > * {
   display: flex;
   width: 232px;
   padding: 4px 8px;
   display: flex;
   align-items: center;
   border-radius: 4px;
   height:24px;
   color: #323338;
   cursor: pointer;
   &:hover {
    background: #DCDFEC;
   }
   div {
    width: 16px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 8px;
    svg {
     color: #676879;
     border: 1px solid #676879;
     border-radius: 1rem;
     font-size: 13px;
    }
    .group-modal-border-no {
     font-size: 15px;
     border: none;
    }
    .group-modal-svg-no {
     height: 16px;
     border-radius: 1rem;
    }
   }
  }
 }
 .group-modal-color {
  position: absolute;
  top: -6px;
  left: 22px;
  height: 140px;
  width: 172px;
  z-index: 999;
  .picked-color {
   max-width: 33px;
   height: 33px;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #fff;
   border: 1px solid #e6e9ef;
   div {
    border-radius: 4px;
    width: 21px;
    height: 21px;
   }
  }
  .colors-table {
   height: 130px;
   max-width: 162px;
   padding: 5px;
   display: flex;
   flex-wrap: wrap;
   background: #fff;
   border: 1px solid #e6e9ef;
   .colors-col {
    width: 22px;
    height: 22px;
    margin: 4px;
    padding: 1px;
    border-radius: 4px;
    cursor: pointer;
   }
  }
 }
}