.group-footer {

 @include for-mobile-layout {
  display: none;
}

 height: 40px;
 width: 100%;
 .group-footer-fake {
  width: 100%;
  min-width: 235px;
  margin-right: 1px;
 }
 .group-footer-fake2 {
  min-width: 100px;
  margin-right: 1px;
 }
 .group-footer-status {
  min-width: 145px;
  margin-right: 1px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f6f8;
  margin-right: 1px;
 }
 .group-footer-hours {
  min-width: 125px;
  margin-right: 1px;
  background: #f5f6f8;
  color: $black;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  span {
   font-size: 12px;
   color: #676879;
  }
 }
 .group-footer-fake3 {
  min-width: 295px;
  margin-right: 2px;
 }
}