.side-bar {
 height: 100%;
 min-width: 66px;
 background-color: #292F4C;
 display: flex;
 flex-direction: column;
 align-items: center;
 > * {
  color: #FDFDFD;
  margin: 5px 0;
  font-size: 22px;
  font-weight: regular;
  cursor: pointer;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  &:hover {
   background-color: #10131E;
  }
 }
 .home-icon-wrapper {
  font-size: 16px;
 }
 .sidebar-line {
  padding: 0;
  width: 80%;
  height: 0.08px;
  background-color: rgb(137, 137, 137);
  cursor: auto;
  margin-top: 0;
  margin-bottom: 10px;
 }
 .sidebar-search {
  position: absolute;
  bottom: 70px;
 }
 > *:last-child {
  flex-direction: column;
  position: absolute;
  bottom: 10px;
  width: 40px;
  height: 40px;
  padding: none;
  margin: 0;
  margin-bottom: 2px;
  img {
   width: 100%;
   height: 100%;
   border: 2.5px solid $white;
   border-radius: 50%;
  }
  &:hover {
   width: 36px;
   height: 36px;
   background: none;
   margin-bottom: 4px;
  }
 }
}