.side-bar {
 height: 100%;
 min-width: 66px;
 background-color: #292F4C;
 display: flex;
 flex-direction: column;
 align-items: center;
 > * {
  color: #FDFDFD;
  margin: 5px 0;
  font-size: 22px;
  cursor: pointer;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  &:hover {
   background-color: #10131E;
  }
 }
 .home-icon-wrapper {
  font-size: 16px;
 }
 .sidebar-line {
  padding: 0;
  width: 80%;
  height: 0.08px;
  background-color: rgb(137, 137, 137);
  cursor: auto;
  margin-top: 0;
  margin-bottom: 10px;
 }
 > *:last-child {
  position: absolute;
  bottom: 0;
  font-size: 30px;
 }
}