.task-activities {
 > * {
  display: flex;
  align-items: center;
  margin-right: 1px;
  font-size: 13px;
 }
 .task-activities-assignee {
  display: flex;
  justify-content:center;
  min-width: 100px;
  position: relative;
  div {
   position: absolute;
   color: white;
   left: 8px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 16px;
   svg {
    color: #0073EA;
    font-size: 16px;
   }
  }
  img {
   margin-left: 5px;
   max-width: 26px;
  }
  > *:last-child {
   margin-left: -5px;
  }
  .task-activities-assignee-counter {
   position: relative;
   width: 25px;
   height: 25px;
   color: white;
   background: #333333;
   margin-left: -15px;
   margin-right: 10px;
   border: none;
   display: flex;
   justify-content: center;
   align-items: center;
   span {
    margin-bottom: 1px;
   }
  }
 }
 .task-activities-status,
 .task-activities-priority,
 .task-activities-updated,
 .task-activities-hours,
 .task-activities-deadline {
  display: flex;
  align-items: center;
  justify-content:center;
 }
 .task-activities-status {
  color: white;
  font-size: 14px;
  min-width: 145px;
  position: relative;
  // &::after {
  //  width: 10px;
  //  height: 10px;
  //  transition: all 0.5s ease;
  //  position: absolute;
  //  top: 0;
  //  right: 0;
  //  background: red;
  //  z-index: 999;
  // }
  .task-activities-status-modal {
   position: absolute;
   min-width: 145px;
   background: transparent;
   top: 20px;
   z-index: 999;
   div {
    display: flex;
    justify-content: center;
    font-size: 20px;
   }
   > *:last-child {
    cursor: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 200px;
    margin-top: -6px;
    padding: 16px;
    background: #fff;
    border: 1px solid #e6e9ef;
    > * {
     cursor: pointer;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 32px;
     font-size: 13px;
     margin-bottom: 8px;
     background-color: red;
    }
   }
  }
 }
 .task-activities-priority {
  background: #B93253;
  color: white;
  font-size: 14px;
  min-width: 145px;
  .task-activities-priority-modal {
    position: absolute;
    min-width: 145px;
    background: transparent;
    top: 20px;
    z-index: 999;
    div {
     display: flex;
     justify-content: center;
     font-size: 20px;
    }
    > *:last-child {
     cursor: auto;
     display: flex;
     justify-content: flex-start;
     flex-direction: column;
     height: 200px;
     margin-top: -6px;
     padding: 16px;
     background: #fff;
     border: 1px solid #e6e9ef;
     > * {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      font-size: 13px;
      margin-bottom: 8px;
      background-color: red;
     }
    }
   }
 }
 .task-activities-hours,
 .task-activities-deadline {
  min-width: 125px;
 }

 .task-activities-hours {
  input {
    max-width: 14px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
  }
}
.task-activities-hours {
  input {
    max-width: 14px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
  }
}
.task-activities-updated {
  min-width: 170px;
  position: relative;
  img {
   max-width: 26px;
   position: absolute;
   left: 20px;
  }
  span {
   margin-left: 40px;
  }
 }

 .work-hours-input{
  all: unset
}
.assignee-modal {
  position: absolute;
  width: 264px;
  background-color: #fff;
  border: 1px solid #e6e9ef;
  z-index: 999;
  top: 34px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .are-assignee {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    div {
    display: flex;
    justify-content: center;
    width: 120px;
    margin: 4px;
    background: #e5f4ff;
    color: #333;
    }
    img {
      width: 22px;
    }
    span {
      margin-top: 3px;
      margin-left: 4px;
    }
  }
  .not-assignee {
    display: flex;
    flex-direction: column;
    align-items: center;
    .not-assignee-member {
      width: 248px;
      img {
        width: 22px;
      }
    }
  }
}
}