.task-details {
  background: transparent;
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0px;

  &:hover {
    background: rgba(0, 0, 0, 0.096);
  }

  hr {
    color: #d5d8df56;
  }

  .task-details-warpper {
    float: right;
    box-sizing: border-box;
    min-height: 100vh;
    overflow-y: hidden;
    color: $mainGreyFontColor;
    transition: 0.1s;
    width: 691px;
    background: $white;
    display: flex;
    flex-direction: column;

    .task-details-header {
      margin: 18px 18px 0px 18px;

      .close-modal-btn {
        border: none;
        background: transparent;
        color: $mainGreyFontColor;
        font-size: 18px;
        padding: 1px 4px;
        border-radius: 5px;
        font-weight: normal;

        &:hover {
          background-color: #d5d8df56;
        }
      }

      .upper-task-details-header {
        display: flex;
        margin-top: 4px;
        margin-bottom: 12px;
        padding: 2px 0px;
        justify-content: space-between;

        .task-name-input {
          background: transparent;
          border: none;
          color: $headerBlack;
          width: 65%;
          margin-right: 4px;
          box-sizing: border-box;
          padding: 2px;
          border: 1px solid transparent;

          &::placeholder {
            color: $headerBlack;
            font-size: 22px;
            padding: 2px;
            font-weight: bolder;
          }

          &:hover {
            transition: none;
            border: 1px solid $headerDarkGrey;
          }
        }

        .header-options-container {
          display: flex;
          flex-direction: row;
          width: 100px;
          right: 100%;
          justify-content: space-between;
          justify-items: center;
          align-items: center;

          .header-btn-wrapper {
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-content: center;
            padding: 6px;
            position: relative;
            height: 20px;
            width: 42px;

            .header-btn {
              background: transparent;
              border: none;
              font-size: 16px;
            }

            &:hover {
              background-color: #d5d8df56;
            }

            .header-btn-options {
              background: transparent;
              border: none;
              font-size: 16px;
              box-sizing: border-box;

              svg {
                position: absolute;
                top: 26%;
                left: 30%;
              }
            }
          }

          .task-details-options {
            background: transparent;
            border: none;
            color: $modalTxtBlack;
            font-size: 22px;
            cursor: pointer;
            box-sizing: border-box;
            padding: 2px 4px;
            border-radius: 5px;

            &:hover {
              background-color: #d5d8df56;
            }
          }
        }
      }

      .task-detail-header-nav {
        display: flex;
        flex-direction: row;
        padding: 0px 8px 6px;
        height: 28px;
        justify-items: center;
        align-items: center;

        .active-border {
          display: flex;
          z-index: 3;
          margin-right: 18px;
          border-bottom: 4px solid transparent;

          &:hover {
            border-bottom: 4px solid #0060b9;
          }

          button {
            cursor: pointer;
            background: transparent;
            color: $mainGreyFontColor;
            border: none;
            font-size: 14px;
            margin-bottom: 2px;
            padding: 12px;
            border-radius: 5px;

            &:hover {
              background-color: #d5d8df56;
            }
          }
        }

        .active-border.select {
          border-bottom: 4px solid #0060b9;
        }
      }
    }

    .task-details-main {
      display: flex;
      flex-direction: column;
      margin: 18px;

      .add-task-update-input {
        background: transparent;
        border: 1px solid #a25ddc;
        padding: 12px 18px;
        border-radius: 7px;

        &::placeholder {
          font-size: 16px;
          color: $headerDarkGrey;
        }
      }

      .write-email-link {
        text-align: right;
        padding-top: 8px;
        right: 100%;
        width: 100%;
        font-size: 14px;
        color: $headerDarkGrey;
        cursor: pointer;

        .email-icon-warpper {
          position: relative;

          svg {
            position: absolute;
            right: 152px;
            bottom: 0px;
            width: 20px;
            height: 18px;
          }
        }

        &:hover {
          color: #0060b9;
        }
      }

      .updates-container {
        border: solid 1px $headerDarkGrey;
        margin-top: 20px;
        height: 200px;
        width: 655px;
        border-radius: 10px;
        box-sizing: border-box;
        cursor: default;

        .updates-container-warpper {
          border-top: #a25ddc solid 2px;
          border-radius: 10px;

          display: flex;
          flex-direction: column;
          height: 100%;
          position: relative;

          .task-update-header {
            padding: 12px;
            display: flex;
            flex-direction: row;
            align-content: center;
            box-sizing: border-box;
            position: relative;

            .user-name {
              padding-top: 8px;
              font-size: 18px;
            }

            img {
              width: 36px;
            }

            .time-stamp-warpper {
              display: flex;
              justify-items: center;
              align-items: center;
              position: absolute;
              bottom: 28px;
              left: 560px;

              .time-stamp {
                font-size: 14px;
              }
            }
          }

          .update-txt {
            cursor: default;
            padding: 12px;
          }

          .button-container {
            position: absolute;
            bottom: 0;
            width: 100%;
            box-sizing: border-box;
            align-self: flex-end;
            display: flex;
            flex-direction: row;
            margin: 0;
            align-self: flex-end;

            button {
              cursor: pointer;
              background: none;
              border: solid 1px $headerBorder;
              border-bottom: none;
              margin-bottom: 6px;

              width: 100%;
              height: 42px;
              font-size: 16px;
              color: $headerDarkGrey;
              padding: 4px;

              .inside-button-container {
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 6px;

                &:hover {
                  background: $headerBorder;
                }
              }

              .icon-container {
                svg {
                  transform: scaleX(-1);
                }
              }
            }
          }
        }
      }
    }
  }
}