.task-activities {
 > * {
  display: flex;
  align-items: center;
  margin-right: 1px;
  background-color: #f5f6f8;
  color: #666666;
  font-size: 13px;
 }
 .task-activities-assignee {
  display: flex;
  justify-content:center;
  min-width: 100px;
  img {
   max-width: 26px;
  }
  > *:last-child {
   margin-left: -5px;
  }
 }
 .task-activities-status,
 .task-activities-priority,
 .task-activities-updated,
 .task-activities-hours,
 .task-activities-deadline {
  display: flex;
  align-items: center;
  justify-content:center;
 }
 .task-activities-status {
  background: #FDAB3D;
  color: white;
  font-size: 14px;
  min-width: 145px;
 }
 .task-activities-priority {
  background: #B93253;
  color: white;
  font-size: 14px;
  min-width: 145px;
 }
}

 .task-activities-hours,
 .task-activities-deadline {
  min-width: 125px;
 }

 .task-activities-updated {
  min-width: 170px;
  position: relative;
  img {
   max-width: 26px;
   position: absolute;
   left: 20px;
  }
  span {
   margin-left: 40px;
  }
 }