.task-modal {
 position: absolute;
 width: 26px;
 height: 18px;
 display: flex;
 align-items: center;
 justify-content: center;
 left: -25px;
 top: 9px;
 div {
  background-color: #d0d4e4;
  border-radius: 0.25rem;
  width: 16px;
  height: 16px;
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
   font-size: 12px;
   transition: none;
  }
 }
}