.task-modal {
 position: absolute;
 width: 26px;
 height: 18px;
 display: flex;
 align-items: center;
 justify-content: center;
 left: -25px;
 top: 9px;
 .task-modal-btn {
  background-color: #d0d4e4;
  border-radius: 0.25rem;
  width: 16px;
  height: 16px;
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
   font-size: 12px;
   transition: none;
  }
 }

 .task-modal-toggle {
  position: absolute;
  flex-direction: column;
  left: 0;
  top: 22px;
  width: 248px;
  padding: 8px;
  z-index: 999;
  background: #fff;
  border: 1px solid #e6e9ef;
  border-radius: 10px;
  font-size: 14px;
  > * {
   display: flex;
   width: 232px;
   padding: 4px 8px;
   display: flex;
   align-items: center;
   border-radius: 4px;
   height:24px;
   color: #323338;
   cursor: pointer;
   &:hover {
    background: #DCDFEC;
   }
   div {
    width: 16px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 8px;
    svg {
     color: #676879;
     border: 1px solid #676879;
     border-radius: 1rem;
     font-size: 13px;
    }
    .task-modal-border-no {
     font-size: 15px;
     border: none;
    }
   }
  }
 }
}