.task-title {
 display: flex;
 align-items: center;
 text-align: center;
 width: 100%;
 min-width: 235px;
 margin-right: 1px;
 position: relative;
 .task-checkbox {
  width: 8px;
  height: 34px;
 }
 .task-header {
  display: flex;
  align-items: center;
  padding-left: 12px;
  width: 220px;
  .task-header-title {
    max-width: 174px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    span {
    .task-title-input{
      border: 0;
      font-size: 13px;
      background-color: transparent;
      width: min-content;
    }
    }
  }
  .title-header-edit {
    min-width: 26px;
    transition: none;
    margin-left: 8px;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 14px;
    color: #676879;
    &:hover {
     background-color: #f6f7fb;
    }
    }
 }
 .task-title-btns {
  svg {
   position: absolute;
   right: 16px;
   font-size: 22px;
   top: 6px;
   transition: none;
  }
  > *:last-child {
    font-size: 14px;
    right: 20px;
    top: 10px;
   }
 }
 .task-title-btn {
   position: absolute;
   right: 16px;
   font-size: 22px;
   top: 6px;
   transition: none;
   color: #0073EA;
   span {
    position: absolute;
    font-size: 10px;
    color: white;
    background-color: #0073EA;
    right: 0.5px;
    top: 12px;
    padding: 0.75px 4px;
    border-radius: 50%;
   }
 }
}