.task-details {
  background: rgba(0, 0, 0, 0.103);
  min-width: 100vh;
  min-height: 100vh;

  hr {
    color: #d5d8df56;
  }

  .task-details-warpper {
    float: right;
    box-sizing: border-box;
    min-height: 100vh;
    overflow-y: hidden;
    color: $mainGreyFontColor;
    transition: 0.1s;
    width: 691px;
    background: $white;

    .task-details-header {
      margin: 18px 18px 0px 18px;

      .close-modal-btn {
        border: none;
        background: transparent;
        color: $mainGreyFontColor;
        font-size: 18px;
        padding: 1px 4px;
        border-radius: 5px;
        font-weight: normal;

        &:hover {
          background-color: #d5d8df56;
        }
      }

      .upper-task-details-header {
        display: flex;
        margin-top: 4px;
        margin-bottom: 12px;
        padding: 2px 0px;
        justify-content: space-between;

        .task-name-input {
          background: transparent;
          border: none;
          color: $headerBlack;
          width: 65%;
          margin-right: 4px;
          box-sizing: border-box;
          padding: 2px;

          &::placeholder {
            color: $headerBlack;
            font-size: 22px;
            padding: 2px;
            font-weight: bolder;
          }

          &:hover {
            transition: none;
            border: 1px solid $headerDarkGrey;
          }
        }

        .header-options-container {
          display: flex;
          flex-direction: row;
          width: 100px;
          right: 100%;
          justify-content: space-between;
          justify-items: center;
          align-content: center;

          .invite-members {
            border-radius: 5px;
            cursor: pointer;
            &:hover {
              background-color: #d5d8df56;
            }
          }

          .task-details-options {
            background: transparent;
            border: none;
            color: $modalTxtBlack;
            font-size: 22px;
            cursor: pointer;
            box-sizing: border-box;
            padding: 1px 4px;
            border-radius: 5px;
            &:hover {
              background-color: #d5d8df56;
            }
          }
        }
      }

      .task-detail-header-nav {
        display: flex;
        flex-direction: row;
        padding: 0px 8px 6px;
        height: 28px;
        justify-items: center;
        align-items: center;
        // border-bottom: solid 1px #d5d8df56;

        .active-border {
          margin-right: 1px;
          display: flex;
          align-content: center;
          justify-content: center;
          &:hover {
            border-bottom: 2px solid #0060b9;
          }

          button {
            cursor: pointer;
            background: transparent;
            color: $mainGreyFontColor;
            border: none;
            font-size: 14px;
            margin-right: 18px;
            margin-bottom: 4px;
            padding: 12px;
            border-radius: 5px;

            &:hover {
              background-color: #d5d8df56;
            }
          }
        }
      }
    }
    .task-details-main {
      display: flex;
      flex-direction: column;
      margin: 18px;

      .add-task-update-input {
        background: transparent;
        border: 1px solid #a25ddc;
        padding: 12px 18px;
        border-radius: 7px;

        &::placeholder {
          font-size: 16px;
          color: $headerDarkGrey;
        }
      }

      .write-email-link {
        text-align: right;
        padding-top: 8px;
        right: 100%;
        width: 100%;
        font-size: 14px;
        color: $headerDarkGrey;
        cursor: pointer;

        &:hover {
          color: #0060b9;
        }
      }
      .updates-container {
        border: solid 1px $headerDarkGrey;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        height: 200px;
        width: 630px;
        padding: 12px;
        border-radius: 10px;
      }
    }
  }
}
