.toolbar-main-contianer{
    flex-direction: row;
    margin-top: 15px;
}

.toolbar-button-container{
    height: 32px;
    &:hover {
        background-color: #dcdfec;;
    }
    padding: 0 5px 0 5px;
    margin-right: 6px;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    border-radius: 4px;
    
    .new-task-spn{
        padding:0 5px 0 5px; 
        text-align: center;
        padding-top: 0; 
    }

}

.new-task{
    background-color: $headerAddtAsk;
    color: $white;
    justify-content: space-between;
    &:hover{
        background-color: $headerAddtAskHover;
    }
    .new-task-spn-icon{
        border-left: 0.5px solid $headerDarkGrey;
        padding-left: 5px;
        padding-top: 5px;
        align-items: center;
        font-size: 21px;
        position: relative;
        .toolbar-task-modal {
            position: absolute;
            flex-direction: column;
            left: 0;
            top: 22px;
            height: 64px;
            padding: 8px;
            z-index: 999;
            background: #fff;
            border: 1px solid #e6e9ef;
            border-radius: 10px;
            font-size: 14px;
            div {
            width: 186px;
             display: flex;
             padding: 4px 8px;
             display: flex;
             align-items: center;
             border-radius: 4px;
             height:24px;
             color: #323338;
             cursor: pointer;
             &:hover {
              background: #DCDFEC;
             }
             div {
              width: 16px;
              height: 100%;
              padding-right: 8px;
             }
             span {
                 padding-top: 1px;
             }
            }
           }
    }
}