.toolbar-main-contianer{
    flex-direction: row;
    margin-top: 15px;
}

.toolbar-button-container{
    height: 32px;
    &:hover {
        background-color: #dcdfec;;
    }
    padding: 0 5px 0 5px;
    margin-right: 6px;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    border-radius: 4px;
    
    .new-task-spn{
        padding:0 5px 0 5px; 
        text-align: center;
        padding-top: 0; 
    }

}

.new-task{
    background-color: $headerAddtAsk;
    color: $white;
    justify-content: space-between;
    &:hover{
        background-color: $headerAddtAskHover;
    }
    .new-task-spn-icon{
        border-left: 0.5px solid $headerDarkGrey;
        padding-left: 5px;
        padding-top: 5px;
        align-items: center;
        font-size: 21px;
    }
}