.trello-task-preview {
 height: 130px;
 font-size: 13px;
 color: #323338;
 width: 242px;
 background-color: #fff;
 border: 1px solid transparent;
 margin-top: 4px;
 .trello-task-title {
  padding: 8px 13px;
 }
}